@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300;400;&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 39px;
    font-weight: 900;
    line-height: 1.4;
}

h2 {
    font-size: 29px;
    font-weight: 900;
}

h3 {
    font-weight: 900;
}

p {
    line-height: 1.7;
}
.dream-on {
    display: flex;
    margin-top: 60px;
    width: 100%;
}

.zayn {
    border-radius: 50%;
}

.half-sec {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.concentrate {
    margin: 70px;
}

.heightlight {
    color: #4f6ca4;
}

.border-line {
    border-left: 3px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

.pad {
    padding-left: 8px;

}

.button-link {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 5px;
    margin-top: 45px 0;
}

.under-down {
    margin-top: 40px;
}

#mission {
    text-align: center;
    margin-bottom: 40px;
}

.three-part {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 90px;
}

.three-box {
    width: 30%;
    padding: 15px 30px;
    border-radius: 10px;
    /* padding-left: 15px; */
}

.three-part img {
    width: 40%;
}

.mission {
    background-color: rgb(233, 247, 247);
    margin-right: 3%;

}

.vission {
    background-color: rgb(250, 245, 239);
    margin-right: 3%;
}

.goals {
    background-color: rgb(243, 229, 227);
}

.interview-img {
    margin-left: 8%;
}

.interview-img img {
    border-radius: 5%;
}

.interview-instruction {
    margin-left: 60px;
}

.lecture {
    margin-left: 10%;
    margin-right: 15%;
}

.lecture-img {
    margin-right: 7%;

}

.lecture-img img {
    border-radius: 5%;
}

.covid {
    text-align:center;
}
